.about__section {
    min-height: calc(100vh - 7.2rem);
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}
.about__img-container{
    background-image: url('/images/about-hero.png');
    background-position: top center;
    background-size: cover;
    min-height: 40vh;
}
.about__content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 2rem;
}
.about__title{
    font-size: clamp(1.5rem, 5vw, 5rem);
    margin-block: clamp(2rem, 5vw, 4rem);

}
.about__text {
    font-size: clamp(1.2rem, 4vw, 1.5rem);
    text-align: left;
    width: 100%;
    margin-bottom: clamp(1rem, 4vw, 2rem);;
}

.about__card{
    background-color: var(--clr-accent);
    width: 100%;
    border-radius: 10px;
    display: grid;
    place-items: center;
    margin-top: 2rem;
    padding-block: clamp(2rem, 5vw, 4rem);
    color: var(--clr-light);
}
.about__card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-inline: 1rem;
}

.about__card-body h3{
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: 900;
    line-height: clamp(1rem, 5vw, 3rem);
}

.about__btn{
    margin-top: 2rem;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding: 0.75rem 1.5rem;
}