:root {
  --ff-primary: 'Oswald', sans-serif;

  color-scheme: light dark;

  --clr-light: rgba(255, 255, 255);
  --clr-dark: #242424;
  --clr-accent: #8b0000;

  --max-width: 1200px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.layout__container{
  min-height: calc(100vh - 6rem);
}
.red {
  color: red;
}
a {
  font-weight: 500;
  color: var(--clr-dark);
  text-decoration: inherit;
}
a:hover {
  color: var(--clr-light);
}

.card-link {
  all: unset;
  cursor: pointer;
}
.card-link:hover {
  all: unset;
  cursor: pointer;
}
body {
  margin: 0;
  font-family: var(--ff-primary);
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}
.hire__container{
    margin: 0 1rem;
    max-width: var(--max-width);
    margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--clr-accent);
  }
}
.main-section{
  display: grid;
  place-items: center;
  align-content: center;
  min-height: calc(100vh - 2.2rem);
  background-color: #747bff;
}


/* List vans */

.listVans__container{
  display: flex;
  padding: 1rem;
  gap: 1rem;
  margin-inline: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(36, 36, 36, .4);
  border-radius: .345rem;
}
.listVans__container > img {
  width: 100px;
  border-radius: .345rem;
}

/* HOST DETAIL */

.hostdetail__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  place-items: center;
  margin: 1rem;
}
.hostdetail__image{
  max-width: 200px;
  border-radius: .345rem;
}
.hostdetail__wrapper{
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
  background-color: rgba(139, 0, 0, .2);
}
.hostdetail__type{
  background-color: rgba(33, 53, 71, .4);
  padding: .5rem 1.5rem;
  border-radius: .345rem;
  display: grid;
  place-items: center;
  max-width: 120px;
  text-transform: uppercase;
}
.hostdetail__column{
  background-color: transparent;
}
.hostdetail__content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hostdetail__nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.hostdetails__display{
  width: 100%;
}
.host__section{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.loading{
  display: grid;
  place-items: center;
  min-height: 300px;
}

/* DASHBOARD */

.dashboard__container{
  min-height: 100vh;
  margin: 1rem;
}
.dashboard__content-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.dashboard__spaced-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(33, 53, 71, 0.5);
  min-height: 100px;
}


.hires_btn{
  max-width: 120px;
  display: grid;
  place-items: center;
  padding: .5rem 1.25rem;
  border-radius: .345rem;
  color: white;
}


/* Login */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 27px;
  margin-top: 15rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;    
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > button {
  background-color: #FF8C38;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
}